<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<script src="scripts/app.js"></script>
		<link
			rel="stylesheet"
			type="text/css"
			media="screen"
			href="styles/vendor/semantic.min.css"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			media="screen"
			href="styles/main.css"
		/>
		<title>GA Addmissions</title>
	</head>
	<body>
		<nav>
			<div class="ui top inverted fixed menu">
				<a class="item" href="/">
					<img src="/images/logo.png" />
					<p class="logo">GENERAL ASSEMBLY</p>
				</a>
				<a href="/solutions" class="item">Solutions</a>
				<a href="/faq" class="item">FAQ</a>
			</div>
		</nav>
		<main class="home">
			<div class="ui grid">faq</div>
		</main>
	</body>
</html>
