<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<script src="scripts/app.js"></script>
		<link
			rel="stylesheet"
			type="text/css"
			media="screen"
			href="styles/vendor/semantic.min.css"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			media="screen"
			href="styles/main.css"
		/>
		<title>GA Addmissions</title>
	</head>
	<body>
		<!-- navbar start -->
		<nav>
			<div class="ui top inverted fixed menu">
				<a class="item" href="/">
					<img src="/images/logo.png" />
					<p class="logo">GENERAL ASSEMBLY</p>
				</a>
				<a href="/solutions" class="item">Solutions</a>
				<a href="/faq" class="item">FAQ</a>
			</div>
		</nav>
		<!-- nav end -->

		<main class="home">
			<div class="ui grid">
				<div class="row centered">
					<div class="ui segment breakdown">
						<div class="ui top attached label header-yellow">
							<h2>Technical Interview Breakdown (25 min)</h2>
						</div>
						<div class="ui list">
							<!-- start of list -->
							<!-- item one -->
							<div class="item">
								<i class="clock outline icon"></i>
								<div class="content">
									<div class="header">10 mins</div>
									<div class="description">Student Technical Breakdown</div>
									<div class="list">
										<!-- sub item -->
										<div class="item">
											<i class="caret right icon"></i>
											<div class="content">
												<div class="header">
													What is your technical background?
												</div>
												<div class="description">
													This gives us a sense of how long they have been
													interested in the technology industry.
												</div>
											</div>
										</div>
										<!-- sub item -->
										<div class="item">
											<i class="caret right icon"></i>
											<div class="content">
												<div class="header">
													What technologies have you researched up to this
													point?
												</div>
												<div class="description">
													Have they been doing self research up to this point?
													Key words to listen for "javascript", "html", "css",
													"python", "c", "c#", "java"
												</div>
											</div>
										</div>
										<!-- sub item -->
										<div class="item">
											<i class="caret right icon"></i>
											<div class="content">
												<div class="header">
													Have you used any libraries or frameworks. If so which
													ones?
												</div>
												<div class="description">
													If they have not that is ok. This is to determine how
													advanced the student might be. If they have used React
													and Node in the past we will want to dive deeper into
													their understanding to make sure they are not to
													advanced for the immersive.
												</div>
											</div>
										</div>
										<!-- sub item -->
										<div class="item">
											<i class="caret right icon"></i>
											<div class="content">
												<div class="header">
													When you run into a bug how do you go about solving
													the problem?
												</div>
												<div class="description">
													Key things to listen for: "take a break and come
													back", "console log", "look on stack overflow", "do
													additional research", "MDN documentation"
												</div>
											</div>
										</div>
										<!-- sub item -->
										<div class="item">
											<i class="caret right icon"></i>
											<div class="content">
												<div class="header">
													How do you take care of yourself when you are under
													stress?
												</div>
												<div class="description">
													Due to the stress of the cohort we want to make sure
													the student knows how to handle stress.
												</div>
											</div>
										</div>
										<!-- end subs -->
									</div>
								</div>
							</div>
							<!-- item 2 -->
							<div class="item">
								<i class="clock outline icon"></i>
								<div class="content">
									<div class="header">10 mins</div>
									<div class="description">Technical Challenge</div>
									<div class="list">
										<!-- sub item -->
										<div class="item">
											<i class="caret right icon"></i>
											<div class="content">
												<div class="header">See Solutions</div>
												<div class="description">
													<a href="/solutions">Link</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- item 3 -->
							<div class="item">
								<i class="clock outline icon"></i>
								<div class="content">
									<div class="header">5 mins</div>
									<div class="description">Student Questions</div>
									<div class="list">
										<!-- sub item -->
										<div class="item">
											<i class="caret right icon"></i>
											<div class="content">
												<div class="header">
													See FAQs for potential questions
												</div>
												<div class="description"><a href="faq">Link</a></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- end of list -->
						</div>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>
