<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<script src="scripts/vendor/prism.js" defer></script>
		<script src="scripts/app.js"></script>
		<link
			rel="stylesheet"
			type="text/css"
			media="screen"
			href="styles/vendor/prism.css"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			media="screen"
			href="styles/vendor/semantic.min.css"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			media="screen"
			href="styles/main.css"
		/>
		<title>GA Addmissions</title>
	</head>
	<body>
		<nav>
			<div class="ui top inverted fixed menu">
				<a class="item" href="/">
					<img src="/images/logo.png" />
					<p class="logo">GENERAL ASSEMBLY</p>
				</a>
				<a href="/solutions" class="item">Solutions</a>
				<a href="/faq" class="item">FAQ</a>
			</div>
		</nav>
		<div class="solutions">
			<div class="ui segment">
				<h3>
					Below you will find several solutions to the pokemon assigment at
					various student levels based on the most common solutions we see.
				</h3>
				<h3>
					Since students complete this assignment prior to the interview we
					spend this time having them explain each function one at a time to us
					to evaluate their understanding.
				</h3>
			</div>
			<!-- solution 1 -->
			<div class="ui segment">
				<div class="ui stackable grid">
					<div class="eight wide column">
						<div class="ui top attached label header-yellow">
							<h1>Most common solution.</h1>
						</div>
						<!-- list of questions to ask and things to listen for -->
						<div class="ui list">
							<!-- item -->
							<div class="item">
								<i class="assistive listening systems icon"></i>
								<div class="content">
									<div class="header">
										Things to listen for while describing functions.
									</div>
									<div class="list">
										<!-- sub item -->
										<div class="item">
											<i class="caret right icon"></i>
											<div class="content">
												<div class="header">
													Key Phrases for shakePokeball()
												</div>
												<div class="description">
													"searches html for an html tag with the id of
													pokeball", "applies the css class of shake to
													pokeball", "css class adds an animation"
												</div>
											</div>
										</div>
										<!-- sub item -->
										<div class="item">
											<i class="caret right icon"></i>
											<div class="content">
												<div class="header">
													Key Phrases for setName()
												</div>
												<div class="description">
													"receives user's input and saves it to a variable",
													"search the html page for the element with the name
													first-name", "replace the html inside first-name with
													the users name"
												</div>
											</div>
										</div>
										<!-- sub item -->
										<div class="item">
											<i class="caret right icon"></i>
											<div class="content">
												<div class="header">
													Key Phrases for setWebsite()
												</div>
												<div class="description">
													"receives user's input and saves it to a variable",
													"search the html page for the element with the name
													favorite-website", "replace the html inside first-name
													with the users name"
												</div>
											</div>
										</div>
										<!-- sub item -->
										<div class="item">
											<i class="caret right icon"></i>
											<div class="content">
												<div class="header">
													Key Phrases for setWebsite() Bonus Challenge
												</div>
												<div class="description">
													"we create a new html anchor tag and save it to a
													variable", "we then set the link of the anchor tag to
													the user's input", "we then set the text of the anchor
													tag as the user's input.", "we append the tag to the
													html"
												</div>
											</div>
										</div>
										<!--  -->
									</div>
								</div>
							</div>
							<!-- item -->
							<div class="item">
								<i class="question icon"></i>
								<div class="content">
									<div class="header">
										Follow up questions based on this solution.
									</div>
									<div class="list">
										<!-- sub item -->
										<div class="item">
											<i class="caret right icon"></i>
											<div class="content">
												<div class="header">What is the document?</div>
												<div class="description">
													The Document is what JS uses to interact with the
													html. In this instance we are searching through the
													document for an HTML element by a specific id and
													saving it into a variable.
												</div>
											</div>
										</div>
										<!-- sub item -->
										<div class="item">
											<i class="caret right icon"></i>
											<div class="content">
												<div class="header">
													What is the difference between a class and an id?
												</div>
												<div class="description">
													We use an id on an html element to give it a unique
													property. A class is given to a several html elements
													to that they may share a property.
												</div>
											</div>
										</div>
										<!-- sub item -->
										<div class="item">
											<i class="caret right icon"></i>
											<div class="content">
												<div class="header">
													What is the difference between innerHTML and
													innerText?
												</div>
												<div class="description">
													.innerHTML is a method that changes the html of the
													html element that it is being used on. .inntext is
													different in the sense that it will not replace the
													html, but instead will just replace the text of the
													element with the given data.
												</div>
											</div>
										</div>
										<!--   what other ways can we select elements -->
										<!-- sub item -->
										<div class="item">
											<i class="caret right icon"></i>
											<div class="content">
												<div class="header">
													What is the difference between Javascript and Jquery?
												</div>
												<div class="description">
													Javascript is a programming language while Jquery is a
													javascript library. Basically a collection of
													javascript to speed along development.
												</div>
											</div>
										</div>

										<!-- sub item -->
										<div class="item">
											<i class="caret right icon"></i>
											<div class="content">
												<div class="header">
													Besides getElementById() how else can we select
													elements from the HTML?
												</div>
												<div class="description">
													There are several ways. We can use getElementById()
													and querySelector() for single elements and
													getElementsByClassName(), getElementsByTagName(),
													querySelectorAll() for multiple.
												</div>
											</div>
										</div>

										<!-- end of sub list -->
									</div>
								</div>
								<!-- end of list -->
							</div>
						</div>
						<!-- end of item -->
					</div>
					<div class="eight wide column">
						<div class="code-red ui segment">
							<pre><code class="language-javascript">app.shakePokeball = function shakePokeball() {
	// code BELOW this line for challenge #1 -->
	var pokeball = document.getElementById('pokeball');
	pokeball.class = 'shake';
}; // <-- code ABOVE this line for challenge #1

app.setName = function setName() {
	// code BELOW this line for challenge #2 -->
	var name = prompt('What is your name?');
	var firstName = document.getElementById('first-name');
	firstName.innerHTML = name;
}; // <-- code ABOVE this line for challenge #2

app.setWebsite = function setWebsite() {
	// code BELOW this line for challenge #3 & bonus -->
	var favSite = prompt('What is your favorite site?');
	var site = document.getElementById('favorite-website');
	// site.innerHTML = site;

	// bonus
	var anchor = document.createElement('a');
	anchor.setAttribute('href', 'http://www.' + favSite);
	anchor.textContent = favSite;
	site.appendChild(anchor);
}; // <-- code ABOVE this line for challenge #3 & bonus</code></pre>
						</div>
					</div>
				</div>
			</div>

			<!-- Solution 2 -->
			<div class="ui segment">
				<div class="ui stackable grid">
					<div class="eight wide column">
						<div class="ui top attached label header-yellow">
							<h1>Advanced Bonus Solution.</h1>
						</div>
						<!-- list of questions to ask and things to listen for -->
						<div class="ui list center-list">
							<!-- item -->
							<div class="item">
								<i class="assistive listening systems icon"></i>
								<div class="content">
									<div class="header">
										Things to listen for while describing functions.
									</div>
									<div class="list">
										<!-- sub item -->
										<div class="item">
											<i class="caret right icon"></i>
											<div class="content">
												<div class="header">
													Key Phrases will be the same as above, but the bonus
													will be different.
												</div>
												<div class="description"></div>
											</div>
										</div>

										<!-- sub item -->
										<div class="item">
											<i class="caret right icon"></i>
											<div class="content">
												<div class="header">
													Key Phrases for setWebsite() Bonus Challenge
												</div>
												<div class="description"></div>
											</div>
										</div>
										<!--  -->
									</div>
								</div>
							</div>
							<!-- item -->
							<div class="item">
								<i class="question icon"></i>
								<div class="content">
									<div class="header">
										Follow up questions based on this solution.
									</div>
									<div class="list">
										<!-- sub item -->
										<div class="item">
											<i class="caret right icon"></i>
											<div class="content">
												<div class="header">
													Same as Above but add the following question.
												</div>
											</div>
										</div>
										<!-- sub item -->
										<div class="item">
											<i class="caret right icon"></i>
											<div class="content">
												<div class="header">
													Your anchor is made with a string. Explain String
													Concatenation.
												</div>
												<div class="description">
													We use string concatenation in JS to combine multiple
													strings together. Js allows us to take variables and
													convert them into a string using this method.
												</div>
											</div>
										</div>

										<!-- end of sub list -->
									</div>
								</div>
								<!-- end of list -->
							</div>
						</div>
					</div>
					<div class="eight wide column">
						<div class="code-red ui segment">
							<pre><code class="language-javascript">app.shakePokeball = function shakePokeball() {
	// code BELOW this line for challenge #1 -->
	var pokeball = document.getElementById('pokeball');
	pokeball.class = 'shake';
}; // <-- code ABOVE this line for challenge #1

app.setName = function setName() {
	// code BELOW this line for challenge #2 -->
	var name = prompt('What is your name?');
	var firstName = document.getElementById('first-name');
	firstName.innerHTML = name;
}; // <-- code ABOVE this line for challenge #2

app.setWebsite = function setWebsite() {
	// code BELOW this line for challenge #3 & bonus -->
	var favSite = prompt('What is your favorite site?');
	var site = document.getElementById('favorite-website');
	// site.innerHTML = site;

	// bonus
	var anchor = "<&zwj;a href='http://www." + favSite + ".com'>" + favSite + "<&zwj;/a>";
	site.innerHTML = anchor;
}; // <-- code ABOVE this line for challenge #3 & bonus
</code></pre>
						</div>
					</div>
				</div>
			</div>
			<!-- Soltion 3 -->
			<div class="ui segment">
				<div class="ui stackable grid">
					<div class="eight wide column">
						<div class="ui top attached label header-yellow">
							<h1>
								Advanced solution.
							</h1>
						</div>
						<h4>
							Shows higher level understanding of JS and newer syntax. If this
							is no problem for the student they may be to advanced for this
							immersive and should speak to an instructor directly.
						</h4>
						<div class="ui list center-list">
							<!-- item -->
							<div class="item">
								<i class="assistive listening systems icon"></i>
								<div class="content">
									<div class="header">
										Things to listen for while describing functions.
									</div>
									<div class="list">
										<!-- sub item -->
										<div class="item">
											<i class="caret right icon"></i>
											<div class="content">
												<div class="header">
													Key Phrases will be the same as above, but the bonus
													will be different.
												</div>
												<div class="description"></div>
											</div>
										</div>

										<!--  -->
									</div>
								</div>
							</div>
							<!-- item -->
							<div class="item">
								<i class="question icon"></i>
								<div class="content">
									<div class="header">
										Follow up questions based on this solution.
									</div>
									<div class="list">
										<!-- sub item -->
										<div class="item">
											<i class="caret right icon"></i>
											<div class="content">
												<div class="header">
													Same as Above but add the following questions.
												</div>
											</div>
										</div>
										<!-- sub item -->
										<div class="item">
											<i class="caret right icon"></i>
											<div class="content">
												<div class="header">
													Your Code is using ES6 Syntax with arrow functions.
													Why ES6 vs ES5 variable declaration?
												</div>
												<div class="description">
													'let' and 'const' variable declaration have some
													difference from 'var'. 'let' is function scope
													specific and 'const' creates a constant variable
													meaning its value can not be changed. This allows us
													to have more control over our data types.
												</div>
											</div>
										</div>

										<!-- end of sub list -->
									</div>
								</div>
								<!-- end of list -->
							</div>
						</div>
					</div>
					<div class="eight wide column">
						<div class="code-red ui segment">
							<pre><code class="language-javascript">app.shakePokeball = () => {
	// code BELOW this line for challenge #1 -->
	document.getElementById('pokeball').class = 'shake';
}; // <-- code ABOVE this line for challenge #1

app.setName = () => {
	// code BELOW this line for challenge #2 -->
	let name = prompt('What is your name?');
	document.getElementById('first-name').innerHTML = name;
}; // <-- code ABOVE this line for challenge #2

app.setWebsite = () => {
	// code BELOW this line for challenge #3 & bonus -->
	let favSite = prompt('What is your favorite site?');
	document.getElementById(
		'favorite-website'
	).innerHTML = `<&zwj;a href='http://www.${favSite}.com'>${favSite}<&zwj;/a>`;
}; // <-- code ABOVE this line for challenge #3 & bonus</code></pre>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
